/*.vdi
/hosts
/hosts_*
/*.retry
/env
/.vagrant
*.key
*.key.pub
/*-cloudimg-console.log
vars/minio_vars.yml
vars/spark_vars.yml
vars/docker_vars.yml
env_linux.sh
env_windows.cmd
roles/minio/tests/ssh-config
roles/minio/tests/__pycache__
/.cache
vars/common_vars.yml
vars/hadoop_vars.yml
vars/jupyterhub_vars.yml
files/hadoop_id_rsa
files/hadoop_id_rsa.pub
files/*.key
files/*.key.pub
files/python/*.py
files/scala/*.scala
files/r/*.r
playbooks/*.retry
