cluster_name: 'MarinCassandraCluster'
num_tokens: {{ cassandra_num_tokens }}
seed_provider:
    - class_name: org.apache.cassandra.locator.SimpleSeedProvider
      parameters:
          - seeds: "{{ groups['cassandra-seeds']|join(',') }}"
listen_address: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
rpc_address: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
endpoint_snitch: GossipingPropertyFileSnitch
