[Unit]
Description=docker-glusterfs
After=syslog.target network.target docker.service

[Service]
User=root
Type=forking
ExecStart=/usr/bin/docker-volume-glusterfs -servers {{ ansible_nodename }}

[Install]
WantedBy=multi-user.target
