[Unit]
Description=Spark-master
After=syslog.target network.target

[Service]
User=root
Type=forking
Environment="JAVA_HOME={{ java_home }}"
ExecStart={{ spark_usr_dir }}/sbin/start-master.sh
ExecStop={{ spark_usr_dir }}/sbin/stop-master.sh

[Install]
WantedBy=multi-user.target
