{
    "version": "16",
        "credential": {
            "accessKey": "{{ minio_access_key }}",
            "secretKey": "{{ minio_secret_key }}"
        },
        "region": "us-east-1",
        "browser": "on",
        "logger": {
            "console": {
                "enable": false
            },
            "file": {
                "enable": true,
                "filename": "{{ minio_server_datadir }}/minio.log",
                "level": "debug"
            }
        }
}
