---

#Range of IPs of trusted networks. If you network is not listed, please extend this list.
trusted_networks:
  - 10.100.107.0/8
  - 192.168.1.1/16
  - 172.17.0.1/24

#Define the JAVA_HOME (default: "/usr/lib/jvm/java-8-oracle")
java_home: "/usr/lib/jvm/java-8-oracle"

