[Unit]
Description=Spark-master
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart={{ spark_home }}/sbin/start-master.sh
ExecStop={{ spark_home }}/sbin/stop-master.sh

[Install]
WantedBy=multi-user.target
