[Unit]
Description=Spark-worker
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart={{ spark_usr_dir }}/sbin/start-slave.sh spark://{{ groups['spark-master'][0] }}:7077
ExecStop={{ spark_usr_dir }}/sbin/stop-slave.sh

[Install]
WantedBy=multi-user.target
