[Unit]
Description=Spark-shuffle
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart={{ spark_usr_dir }}/sbin/start-shuffle-service.sh
ExecStop={{ spark_usr_dir }}/sbin/stop-shuffle-service.sh

[Install]
WantedBy=multi-user.target
